body {
  margin: 0;
}

.appContent {
  display: grid;
  gap: 1em;
  margin: 2em;
}

.card {
  background-color: lightgray;
  padding: 1em;
}

h2 {
  font-size: small;
}

p {
  font-size: large;
}

.reviews {
  grid-column: 2 / 3;
}

.rating {
  grid-column: 3 / 4;
}

.sentiment {
  grid-column: 4 / 5;
}

.visitors {
  grid-area: 2 / 2 / 3 / 5;
  height: 15em
}

.visitorsContent {
  position: relative;
  height: 60%;
  width: 100%;
  background-color: rgb(180, 180, 180);
}

.menu {
  grid-area: 1 / 1 / 3 / 2;
}